.jumbotron {
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0)), url("backdrop.jpg"); 			/* Standard syntax */
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0)), url("backdrop.jpg"); 	/* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0)), url("backdrop.jpg"); 		/* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0)), url("backdrop.jpg");		/* For Firefox 3.6 to 15 */
}

.container h1, h2 {
	color: white;
}

.panel {
	color: #000;
}

body {
	font-size: 14pt;
}

.panel-heading {
	font-size: 16pt;
}
